.frame-19,
.frame-19 * {
  box-sizing: border-box;
}
.frame-19 {
  height: 904px;
  position: relative;
}
.examples-conversion-fichero {
  background: var(--schemes-surface, #fef7ff);
  border-radius: 18px;
  border-style: solid;
  border-color: var(--schemes-outline-variant, #cac4d0);
  border-width: 8px;
  padding: 10px;
  width: 1206px;
  height: 904px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.navigation-rail {
  background: var(--schemes-surface, #fef7ff);
  padding: 44px 0px 56px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 72px;
  height: 647px;
  position: absolute;
  left: -4px;
  top: 58px;
  overflow: hidden;
}
.menu-fab {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  position: relative;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.fab-elevation-override {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.fab {
  background: var(--schemes-tertiary-container, #ffd8e4);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --m3-elevation-light-3-box-shadow,
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15)
  );
  overflow: hidden;
}
.state-layer2 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  position: relative;
  overflow: hidden;
}
.nav-item-1 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer3 {
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.label {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: center;
  font-family: var(
    --m3-label-medium-prominent-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--m3-label-medium-prominent-font-size, 12px);
  line-height: var(--m3-label-medium-prominent-line-height, 16px);
  letter-spacing: var(--m3-label-medium-prominent-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-prominent-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.nav-item-2 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label2 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: center;
  font-family: var(--m3-label-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-medium-font-size, 12px);
  line-height: var(--m3-label-medium-line-height, 16px);
  letter-spacing: var(--m3-label-medium-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.content {
  border-radius: var(--corner-extra-large, 28px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 870px;
  position: absolute;
  right: 28px;
  left: 60px;
  bottom: 0px;
}
.top-app-bar {
  background: var(--schemes-surface, #fef7ff);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.headline {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-title-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 400);
  position: relative;
  flex: 1;
}
.trailing-icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.trailing-icon-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.edit {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.frame-1 {
  flex-shrink: 0;
  width: 1100px;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.share {
  width: 51px;
  height: 48px;
  position: absolute;
  left: 975px;
  top: 6px;
}
.conversi-n-de-ficheros-a-texto {
  color: #000000;
  text-align: left;
  font-family: var(
    --m3-headline-medium-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--m3-headline-medium-font-size, 28px);
  line-height: var(--m3-headline-medium-line-height, 36px);
  font-weight: var(--m3-headline-medium-font-weight, 400);
  position: absolute;
  left: 25px;
  top: calc(50% - 14px);
}
.chat-bubble {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.frame-12 {
  flex-shrink: 0;
  width: 1102px;
  height: 66px;
  position: relative;
  overflow: hidden;
}
.button {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 51px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 9px;
  overflow: hidden;
}
.state-layer4 {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-text {
  color: var(--schemes-on-primary, #ffffff);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2 {
  flex-shrink: 0;
  width: 1106px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.imagen-jpeg-seleccionado {
  color: #000000;
  text-align: left;
  font-family: var(
    --single-line-body-small-strong-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--single-line-body-small-strong-font-size, 14px);
  line-height: var(--single-line-body-small-strong-line-height, 100%);
  font-weight: var(--single-line-body-small-strong-font-weight, 600);
  position: absolute;
  left: calc(50% - 90px);
  top: 0px;
  width: 186px;
}
.download {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1036px;
  top: 20px;
  overflow: visible;
}
.textarea-field {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1102px;
  height: 434px;
  position: relative;
}
.textarea {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 240px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
}
.value {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.drag {
  flex-shrink: 0;
  width: 6.63px;
  height: 6.63px;
  position: absolute;
  right: 5.02px;
  bottom: 6.02px;
  overflow: visible;
}
.button2 {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 129px;
  height: 64px;
  position: absolute;
  left: 971px;
  top: 720px;
  overflow: hidden;
}
.label-text2 {
  color: var(--schemes-on-primary, #ffffff);
  text-align: center;
  font-family: var(--m3-title-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1118px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 793px;
  overflow: hidden;
}
.image-13 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 57px;
  top: 810px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-10 {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 121px;
  top: 803px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-11 {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 192px;
  top: 810px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 256px;
  top: 808px;
  object-fit: cover;
  aspect-ratio: 1;
}
.keyboard-return {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1011px;
  top: 810px;
  overflow: visible;
}
.button4 {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 129px;
  height: 64px;
  position: absolute;
  left: 16px;
  top: 720px;
  overflow: hidden;
}
.chat-bubble2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 25px;
  top: 265px;
}
.chat-bubble3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 257px;
  overflow: visible;
}
.image-5 {
  opacity: 0.4;
  width: 35px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 61px;
  object-fit: cover;
  aspect-ratio: 35/33;
}
.settings {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 823px;
  overflow: visible;
}
.account-circle {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 765px;
  overflow: visible;
}
.image-7 {
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1021px;
  top: 48px;
  object-fit: cover;
  aspect-ratio: 60/27;
}
.badges {
  background: var(--schemes-error, #b3261e);
  border-radius: 100px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 16px;
  min-width: 16px;
  max-width: 34px;
  position: absolute;
  left: 1112px;
  top: 45px;
  overflow: hidden;
}
.badge-label {
  color: var(--schemes-on-error, #ffffff);
  text-align: center;
  font-family: var(--m3-label-small-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-small-font-size, 11px);
  line-height: var(--m3-label-small-line-height, 16px);
  letter-spacing: var(--m3-label-small-letter-spacing, 0.5px);
  font-weight: var(--m3-label-small-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 57px;
  height: 168px;
  position: absolute;
  left: -10px;
  top: 328px;
}
.ocultar {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: -9px;
  top: 490px;
  width: 162px;
  height: 61px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1098px;
  top: 50px;
  overflow: visible;
}
.upload {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 518px;
  top: 228px;
  overflow: visible;
}
.share2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1123px;
  top: 293px;
  overflow: visible;
}
.linear-determinate-progress-indicator {
  padding: 0px 0px 0px 2px;
  width: 404px;
  height: 12px;
  position: absolute;
  left: 401px;
  top: 696px;
}
.active-indicator {
  padding: 0px 6px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 81.19%;
  position: absolute;
  right: 18.81%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
}
.segment-start {
  flex-shrink: 0;
  width: 40px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.segment {
  flex: 1;
  height: 12px;
  position: relative;
  overflow: visible;
}
.segment-end {
  flex-shrink: 0;
  width: 40px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.track-and-stop {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 18.81%;
  position: absolute;
  right: 0%;
  left: 81.19%;
  top: 50%;
  translate: 0 -50%;
}
.track {
  flex: 1;
  height: 12px;
  position: relative;
}
.track2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 8px;
  height: 4px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.stop {
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 50%;
  translate: 0 -50%;
}
.stop-shape {
  background: var(--schemes-primary, #65558f);
  border-radius: 26px;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}

.image-7{
  transform: translateY(-0.5em)
}