.frame-8,
.frame-8 * {
  box-sizing: border-box;
}
.frame-8 {
  height: 904px;
  position: relative;
}
.examples-herramientas-accesibilidad {
  background: var(--schemes-surface, #fef7ff);
  border-radius: 18px;
  border-style: solid;
  border-color: var(--schemes-outline-variant, #cac4d0);
  border-width: 8px;
  padding: 10px;
  width: 1206px;
  height: 904px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.navigation-rail {
  background: var(--schemes-surface, #fef7ff);
  padding: 44px 0px 56px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 72px;
  height: 647px;
  position: absolute;
  left: -4px;
  top: 58px;
  overflow: hidden;
}
.menu-fab {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  position: relative;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.fab-elevation-override {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.fab {
  background: var(--schemes-tertiary-container, #ffd8e4);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --m3-elevation-light-3-box-shadow,
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15)
  );
  overflow: hidden;
}
.state-layer2 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  position: relative;
  overflow: hidden;
}
.nav-item-1 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer3 {
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.label {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: center;
  font-family: var(
    --m3-label-medium-prominent-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--m3-label-medium-prominent-font-size, 12px);
  line-height: var(--m3-label-medium-prominent-line-height, 16px);
  letter-spacing: var(--m3-label-medium-prominent-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-prominent-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.nav-item-2 {
  padding: 0px 2px 4px 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label2 {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: center;
  font-family: var(--m3-label-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-medium-font-size, 12px);
  line-height: var(--m3-label-medium-line-height, 16px);
  letter-spacing: var(--m3-label-medium-letter-spacing, 0.5px);
  font-weight: var(--m3-label-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.rectangle-1 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 57px;
  height: 168px;
  position: absolute;
  left: -6px;
  top: 324px;
}
.ocultar {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: -18px;
  top: 512px;
  width: 206px;
  height: 80px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  border-radius: var(--corner-extra-large, 28px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 870px;
  position: absolute;
  right: 20px;
  left: 68px;
  bottom: 1px;
}
.top-app-bar {
  background: var(--schemes-surface, #fef7ff);
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.headline {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-title-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 400);
  position: relative;
  flex: 1;
}
.trailing-icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.trailing-icon-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search-bar {
  background: var(--schemes-surface-container-high, #ece6f0);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  height: 56px;
  min-width: 360px;
  max-width: 720px;
  position: relative;
  overflow: hidden;
}
.state-layer4 {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.leading-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trailing-elements {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._1st-trailing-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.simple-card-grid {
  padding: 0px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 472px;
  position: relative;
  overflow: hidden;
}
.title-header {
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.carpetas {
  color: #000000;
  text-align: left;
  font-family: var(
    --m3-headline-small-font-family,
    "Roboto-Italic",
    sans-serif
  );
  font-size: var(--m3-headline-small-font-size, 24px);
  line-height: var(--m3-headline-small-line-height, 32px);
  font-weight: var(--m3-headline-small-font-weight, 400);
  font-style: var(--m3-headline-small-font-style, italic);
  position: relative;
  width: 202px;
  height: 25px;
}
.column-01 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.list-item-01 {
  border-radius: var(--corner-large, 16px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-and-image {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image {
  border-radius: 16px;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.title-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-title-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.secondary-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  max-height: 52px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.leading-trailing-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.leading {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 24px;
  position: relative;
}
.icon7 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.date {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-small-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-small-font-size, 12px);
  line-height: var(--m3-body-small-line-height, 16px);
  letter-spacing: var(--m3-body-small-letter-spacing, 0.4px);
  font-weight: var(--m3-body-small-font-weight, 400);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.separator {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-small-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-small-font-size, 12px);
  line-height: var(--m3-body-small-line-height, 16px);
  letter-spacing: var(--m3-body-small-letter-spacing, 0.4px);
  font-weight: var(--m3-body-small-font-weight, 400);
  position: relative;
}
.time {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-small-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-small-font-size, 12px);
  line-height: var(--m3-body-small-line-height, 16px);
  letter-spacing: var(--m3-body-small-letter-spacing, 0.4px);
  font-weight: var(--m3-body-small-font-weight, 400);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.icon8 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.list-item-02 {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-6 {
  flex-shrink: 0;
  width: 116px;
  height: 116px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon9 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon10 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.list-item-03 {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-2 {
  flex-shrink: 0;
  width: 117px;
  height: 117px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon11 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon12 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.edit {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.chat-bubble {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.button {
  background: var(--schemes-primary, #65558f);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1118px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 793px;
  overflow: hidden;
}
.state-layer5 {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.image2 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 256px;
  top: 812px;
  object-fit: cover;
  aspect-ratio: 1;
}
.keyboard-return {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1011px;
  top: 810px;
  overflow: visible;
}
.chat-bubble2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 25px;
  top: 265px;
}
.chat-bubble3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 257px;
  overflow: visible;
}
.image-5 {
  opacity: 0.4;
  width: 35px;
  height: 33px;
  position: absolute;
  left: 17px;
  top: 61px;
  object-fit: cover;
  aspect-ratio: 35/33;
}
.compact-media-player {
  background: var(--schemes-surface, #fef7ff);
  border-radius: 2px 2px 16px 16px;
  width: 789px;
  height: 68px;
  position: absolute;
  left: calc(50% - 371px);
  bottom: 114px;
  overflow: hidden;
}
.linear-determinate-progress-indicator {
  padding: 0px 0px 0px 2px;
  width: 100%;
  height: 17.65%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 88.24%;
  top: -5.88%;
}
.active-indicator {
  padding: 0px 6px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 30.94%;
  position: absolute;
  right: 69.06%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
}
.segment-start {
  flex-shrink: 0;
  width: 40px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.segment-end {
  flex: 1;
  height: 12px;
  position: relative;
  overflow: visible;
}
.track-and-stop {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 69.06%;
  position: absolute;
  right: 0%;
  left: 30.94%;
  top: 50%;
  translate: 0 -50%;
}
.track {
  flex: 1;
  height: 12px;
  position: relative;
}
.track2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 8px;
  height: 4px;
  position: absolute;
  right: -0.12px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.stop {
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: absolute;
  right: -0.12px;
  top: 50%;
  translate: 0 -50%;
}
.stop-shape {
  background: var(--schemes-primary, #65558f);
  border-radius: 26px;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.content4 {
  background: var(--schemes-surface-container, #f3edf7);
  padding: 0px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 4px;
}
.image3 {
  border-radius: 16px;
  flex-shrink: 0;
  width: 44px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.track-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.human-clickbait-carpeta-favoritos {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.playback-controls {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-button-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon13 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-button-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon14 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.trailing-icon2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  position: absolute;
  right: 32px;
  top: 196px;
}
.icon15 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.trailing-icon3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  position: absolute;
  right: 32px;
  top: 343px;
}
.icon16 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.trailing-icon4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  position: absolute;
  right: 34px;
  top: 468px;
}
.icon17 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.settings {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 823px;
  overflow: visible;
}
.account-circle {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 765px;
  overflow: visible;
}
.image-7 {
  width: 60px;
  height: 27px;
  position: absolute;
  left: 1021px;
  top: 48px;
  object-fit: cover;
  aspect-ratio: 60/27;
}
.badges {
  background: var(--schemes-error, #b3261e);
  border-radius: 100px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 16px;
  min-width: 16px;
  max-width: 34px;
  position: absolute;
  left: 1112px;
  top: 45px;
  overflow: hidden;
}
.badge-label {
  color: var(--schemes-on-error, #ffffff);
  text-align: center;
  font-family: var(--m3-label-small-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-small-font-size, 11px);
  line-height: var(--m3-label-small-line-height, 16px);
  letter-spacing: var(--m3-label-small-letter-spacing, 0.5px);
  font-weight: var(--m3-label-small-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1100px;
  top: 52px;
  overflow: visible;
}
.image-10 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 188px;
  top: 843px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-11 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 259px;
  top: 846px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-13 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 125px;
  top: 846px;
  object-fit: cover;
  aspect-ratio: 1;
}

#mov{
  transform: translateX(-0.5em)
}

.image-7{
  transform: translateY(-0.5em)
}

.image-10{
  transform: translateY(-0.5em)
}

.image-11{
  transform: translateY(-0.5em)
}

.image-13{
  transform: translateY(-0.5em)
}